.tsv-changelog-entry > .ts-widget-wrapper > * {
  filter: blur(10px);
  transition: 0.3s ease all;
  transition-delay: 0s;
}

.tsv-changelog-entry:hover > .ts-widget-wrapper > * {
  filter: blur(0px);
  transition-delay: 1s;
}